body
{
	background-image: url('../imagens/fundo.jpg');
}

.first
{
  border-radius: 20px;
}

ul
{
  list-style-type: none;
}

#main
{
 	border-radius: 20px;
	margin-top: 2%;
}

ul
{
	border-radius: 20px;
	margin-top: 2%;
}

#cssvmenuind
{
 	border-radius: 20px;
	margin-top: 2%;
	margin-left: 8%;
}

#titulo
{
  font-size: 40px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2%;
  font-family: sans-serif;
  color: black;
}

div#principal
{
	width: 50%;
	height: 80%;
	background-color: rgba(255,255,255, 0.85);
    background-attachment: fixed;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
 	margin: 0 auto;
 	margin-top: 4%;
 	padding-bottom: 50px;
 	padding-top: 30px;
 	text-align: center;
}

#imgUsuario
{
	width: 190px;
	height: 190px;
	border-radius: 200px;
	margin: 10px 10px 0px 10px;
}

#lblNome
{
	margin: 30px 120px 30px 120px;
	font-style: arial;
	font-weight: bold;
	font-size: 170%;
	color: black;
}

.botao
{
	font-family: verdana;
	margin: 30px 120px 30px 120px;
	background-color: rgb(40,40,90);
	border-radius: 25px;
	color: snow;
	text-align: center;
	font-size: 120%;
	padding-bottom:20px;
	padding-top:20px;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.botao:hover
{
	cursor: pointer;
	background-color: rgb(50,50,120);
}